img{
    display: flex;
   height: 60rem;
    width: 50rem;
}
.home{
    display: flex;
    float: center;
    flex-direction: column;
    background-color: darkgrey;
}
h4{
    color: aqua;
    text-decoration: underline;
}